<!DOCTYPE html>
html(lang="en")
    head
        meta(charset=UTF-8)
        title CLX
        include ./includes/head
    body
        include ./includes/header
        block content
        include ./includes/footer